// Common Variable like height ,width



// all form text and margin
$form_text_weight: bold;
$form_text_mg: 0 0 2rem 10rem;


// all form button size and position
$form_btn_size : 10rem;
$form_btn_mg : 1rem 0 0 6rem;

// left and right section

$sec_position : relative;
$sec_width : 50%;
$sec_right : 0%;
$sec_height : 100%;


// Image For form

$img_width : 100%;
$img_height : 100%;
$img_repeat : no-repeat;
$img_size : cover;
$img_position : right center;

// Common css for small Card

.common_card{
    float: left;
    width: 90%;
    margin: 20px 20px 20px 20px;
}

// css for max card
.max_card{
    float: left;
    width: 100%;
    margin: 20px 20px 20px 20px;
}